@import ../../styles/_variables

    
.localization_bar_container
    background: $bg-navbar
    display: flex
    color: #FFF
    font-size: 0.84rem
    height: 3.1rem
    align-items: center
    justify-content: space-between
    padding: 1rem
    gap: 0.5rem

.address_block_line 
    display: flex
    align-items: center

.address_block_line p 
    font-size: inherit

.address_block_line button 
    font-size: inherit

.prime_subscribe_button 
    background: $prime
    font-size: inherit
    font-weight: 600
    height: 35px
    max-height: 2rem
    border-radius: 2rem
    padding: 0.4rem 0.9rem
    display: flex
    align-items: center
    justify-content: center

.navbar__desktop
    font-size: 1rem
    display: flex
    gap: 1.2rem
    align-items: center

.navbar__sidemenu
    font-weight: 600
    display: flex
    align-items: center
    gap: 0.2rem