@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  --background: #e3e6e6;

  --bg-header: #131921;
  --bg-navbar: #232f3e;
  --bg-search: #febd69;
  --bg-search-hover: #f3a847;
  --prime: #0070e0;

  font-family: Arimo, Montserrat, 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
}

button:hover {
  opacity: 0.85;
}