// COLORS
$bg-header: #131921
$bg-navbar: #232f3e
$bg-search-hover: #f3a847
$bg-button: #febd69
$bg-gray: #e3e6e6
$bg-light: #FFF
$prime: #0070e0
$bg-navbar-footer: #37475a
$text-light: #FFF
$text-dark: #111


// FONTS
$font-primary: var(--font-arimo), sans-serif
$font-secondary: var(--font-montserrat), var(--font-open_sans), sans-serif
$font-others: Inter, Avenir, Helvetica, Arial


// MIN WIDTH SIZES
$_TABLET: 640px // 768px
$_LAPTOP: 992px
$_DESKTOP: 1200px